@charset "utf-8";

body { margin-top: 0px; margin-left: 0px; }

#page_1 { position: relative; overflow: hidden; margin: 104px 0px 63px 14px; padding: 0px; border: none; width: 780px; }

#page_1 #id1_1 { margin: 300px 300px 0px 230px; padding: 0px; border: none; width: 500px; overflow: hidden; }

#page_1 #id1_2 { margin: 250px 0px 0px 320px; padding: 0px; border: none; width: 450px; overflow: hidden; }

#page_1 #id1_3 { margin: 80px 0px 0px 72px; padding: 0px; border: none; width: 615px; overflow: hidden; }

#page_1 #p1dimg1 { position: absolute; top: 269px; left: 150px; z-index: -1; width: 704px; height: 511px; }

#page_1 #p1dimg1 #p1img1 { width: 704px; height: 511px; }

#page_2 { position: relative; overflow: hidden; margin: 93px 0px 62px 46px; padding: 0px; border: none; width: 748px; }

#page_2 #p2dimg1 { position: absolute; top: 269px; left: 2px; z-index: -1; width: 704px; height: 511px; }

#page_2 #p2dimg1 #p2img1 { width: 704px; height: 511px; }

#page_3 { position: relative; overflow: hidden; margin: 47px 0px 37px 45px; padding: 0px; border: none; width: 749px; }

#page_3 #id3_1 { margin: 0px; padding: 0px; border: none; width: 749px; overflow: hidden; }

#page_3 #id3_2 { margin: 48px 0px 0px 2px; padding: 0px; border: none; width: 681px; overflow: hidden; }

#page_3 #id3_2 #id3_2_1 { float: left; margin: 0px; padding: 0px; border: none; width: 221px; overflow: hidden; }

#page_3 #id3_2 #id3_2_2 { float: left; margin: 0px 0px 0px 17px; padding: 0px; border: none; width: 220px; overflow: hidden; }

#page_3 #id3_2 #id3_2_3 { float: left; margin: 0px 0px 0px 18px; padding: 0px; border: none; width: 205px; overflow: hidden; }

#page_3 #id3_3 { margin: 312px 0px 0px 3px; padding: 0px; border: none; width: 746px; overflow: hidden; }

#page_3 #id3_4 { margin: 15px 0px 0px 3px; padding: 0px; border: none; width: 696px; overflow: hidden; }

#page_3 #id3_4 #id3_4_1 { float: left; margin: 1px 0px 0px; padding: 0px; border: none; width: 238px; overflow: hidden; }

#page_3 #id3_4 #id3_4_2 { float: left; margin: 0px; padding: 0px; border: none; width: 458px; overflow: hidden; }

#page_3 #id3_5 { margin: 93px 0px 0px 3px; padding: 0px; border: none; width: 746px; overflow: hidden; }

#page_3 #id3_6 { margin: 34px 0px 0px 112px; padding: 0px; border: none; width: 575px; overflow: hidden; }

#page_3 #id3_6 #id3_6_1 { float: left; margin: 0px; padding: 0px; border: none; width: 226px; overflow: hidden; }

#page_3 #id3_6 #id3_6_2 { float: left; margin: 0px 0px 0px 124px; padding: 0px; border: none; width: 225px; overflow: hidden; }

#page_3 #id3_7 { margin: 27px 0px 0px 678px; padding: 0px; border: none; width: 71px; overflow: hidden; }

#page_3 #p3dimg1 { position: absolute; top: 182px; left: 3px; z-index: -1; width: 698px; height: 827px; }

#page_3 #p3dimg1 #p3img1 { width: 698px; height: 827px; }

#page_4 { position: relative; overflow: hidden; margin: 46px 0px 37px; padding: 0px; border: none; width: 794px; }

#page_4 #id4_1 { margin: 0px 0px 0px 47px; padding: 0px; border: none; width: 747px; overflow: hidden; }

#page_4 #id4_2 { margin: 11px 0px 0px 47px; padding: 0px; border: none; width: 677px; overflow: hidden; }

#page_4 #id4_2 #id4_2_1 { float: left; margin: 0px; padding: 0px; border: none; width: 239px; overflow: hidden; }

#page_4 #id4_2 #id4_2_2 { float: left; margin: 0px; padding: 0px; border: none; width: 238px; overflow: hidden; }

#page_4 #id4_2 #id4_2_3 { float: left; margin: 0px; padding: 0px; border: none; width: 200px; overflow: hidden; }

#page_4 #id4_3 { margin: 28px 0px 0px 48px; padding: 0px; border: none; width: 746px; overflow: hidden; }

#page_4 #p4dimg1 { position: absolute; top: 629px; left: 0px; z-index: -1; width: 794px; height: 261px; }

#page_4 #p4dimg1 #p4img1 { width: 794px; height: 261px; }

#page_5 { position: relative; overflow: hidden; margin: 42px 0px 37px; padding: 0px; border: none; width: 794px; }

#page_5 #id5_1 { margin: 0px 0px 0px 48px; padding: 0px; border: none; width: 531px; overflow: hidden; }

#page_5 #id5_2 { margin: 22px 0px 0px 48px; padding: 0px; border: none; width: 699px; overflow: hidden; }

#page_5 #id5_2 #id5_2_1 { float: left; margin: 0px; padding: 0px; border: none; width: 238px; overflow: hidden; }

#page_5 #id5_2 #id5_2_2 { float: left; margin: 48px 0px 0px; padding: 0px; border: none; width: 214px; overflow: hidden; }

#page_5 #id5_2 #id5_2_3 { float: left; margin: 48px 0px 0px 24px; padding: 0px; border: none; width: 223px; overflow: hidden; }

#page_5 #id5_3 { margin: 366px 0px 0px 48px; padding: 0px; border: none; width: 746px; overflow: hidden; }

#page_5 #id5_4 { margin: 46px 0px 0px 723px; padding: 0px; border: none; width: 71px; overflow: hidden; }

#page_5 #p5dimg1 { position: absolute; top: 289px; left: 0px; z-index: -1; width: 794px; height: 728px; }

#page_5 #p5dimg1 #p5img1 { width: 794px; height: 728px; }

#page_6 { position: relative; overflow: hidden; margin: 46px 0px 37px; padding: 0px; border: none; width: 794px; }

#page_6 #id6_1 { margin: 0px 0px 0px 48px; padding: 0px; border: none; width: 746px; overflow: hidden; }

#page_6 #id6_1 #id6_1_1 { float: left; margin: 0px; padding: 0px; border: none; width: 475px; overflow: hidden; }

#page_6 #id6_1 #id6_1_2 { float: left; margin: 224px 0px 0px; padding: 0px; border: none; width: 271px; overflow: hidden; }

#page_6 #id6_2 { margin: 14px 0px 0px 70px; padding: 0px; border: none; width: 724px; overflow: hidden; }

#page_6 #p6dimg1 { position: absolute; top: 3px; left: 0px; z-index: -1; width: 757px; height: 1007px; }

#page_6 #p6dimg1 #p6img1 { width: 757px; height: 1007px; }

#page_7 { position: relative; overflow: hidden; margin: 42px 0px 37px; padding: 0px; border: none; width: 794px; }

#page_7 #id7_1 { margin: 0px 0px 0px 48px; padding: 0px; border: none; width: 702px; overflow: hidden; }

#page_7 #id7_2 { margin: 154px 0px 0px 48px; padding: 0px; border: none; width: 650px; overflow: hidden; }

#page_7 #id7_2 #id7_2_1 { float: left; margin: 0px; padding: 0px; border: none; width: 434px; overflow: hidden; }

#page_7 #id7_2 #id7_2_2 { float: left; margin: 7px 0px 0px 41px; padding: 0px; border: none; width: 175px; overflow: hidden; }

#page_7 #id7_3 { margin: 6px 0px 0px 48px; padding: 0px; border: none; width: 696px; overflow: hidden; }

#page_7 #id7_3 #id7_3_1 { float: left; margin: 0px; padding: 0px; border: none; width: 219px; overflow: hidden; }

#page_7 #id7_3 #id7_3_2 { float: left; margin: 0px 0px 0px 19px; padding: 0px; border: none; width: 221px; overflow: hidden; }

#page_7 #id7_3 #id7_3_3 { float: left; margin: 0px 0px 0px 16px; padding: 0px; border: none; width: 221px; overflow: hidden; }

#page_7 #id7_4 { margin: 14px 0px 0px 700px; padding: 0px; border: none; width: 94px; overflow: hidden; }

#page_7 #p7dimg1 { position: absolute; top: 134px; left: 0px; z-index: -1; width: 794px; height: 617px; }

#page_7 #p7dimg1 #p7img1 { width: 794px; height: 617px; }

#page_8 { position: relative; overflow: hidden; margin: 57px 0px 37px 43px; padding: 0px; border: none; width: 751px; }

#page_8 #id8_1 { margin: 122px 0px 0px 5px; padding: 0px; border: none; width: 746px; overflow: hidden; }

#page_8 #id8_1 #id8_1_1 { float: left; margin: 0px; padding: 0px; border: none; width: 238px; overflow: hidden; }

#page_8 #id8_1 #id8_1_2 { float: left; margin: 0px; padding: 0px; border: none; width: 237px; overflow: hidden; }

#page_8 #id8_1 #id8_1_3 { float: left; margin: 0px; padding: 0px; border: none; width: 271px; overflow: hidden; }

#page_8 #id8_2 { margin: 9px 0px 0px 5px; padding: 0px; border: none; width: 746px; overflow: hidden; }

#page_8 #id8_3 { margin: 193px 0px 0px 5px; padding: 0px; border: none; width: 746px; overflow: hidden; }

#page_8 #id8_3 #id8_3_1 { float: left; margin: 0px; padding: 0px; border: none; width: 238px; overflow: hidden; }

#page_8 #id8_3 #id8_3_2 { float: left; margin: 0px; padding: 0px; border: none; width: 508px; overflow: hidden; }

#page_8 #p8dimg1 { position: absolute; top: 0px; left: 0px; z-index: -1; width: 716px; height: 950px; }

#page_8 #p8dimg1 #p8img1 { width: 716px; height: 950px; }

#page_9 { position: relative; overflow: hidden; margin: 47px 0px 37px 47px; padding: 0px; border: none; width: 747px; }

#page_9 #id9_1 { margin: 0px 0px 0px 1px; padding: 0px; border: none; width: 746px; overflow: hidden; }

#page_9 #id9_2 { margin: 253px 0px 0px; padding: 0px; border: none; width: 747px; overflow: hidden; }

#page_9 #id9_2 #id9_2_1 { float: left; margin: 1px 0px 0px; padding: 0px; border: none; width: 496px; overflow: hidden; }

#page_9 #id9_2 #id9_2_2 { float: left; margin: 0px; padding: 0px; border: none; width: 251px; overflow: hidden; }

#page_9 #id9_3 { margin: 119px 0px 0px 653px; padding: 0px; border: none; width: 94px; overflow: hidden; }

#page_9 #p9dimg1 { position: absolute; top: 249px; left: 1px; z-index: -1; width: 699px; height: 657px; }

#page_9 #p9dimg1 #p9img1 { width: 699px; height: 657px; }

#page_10 { position: relative; overflow: hidden; margin: 47px 0px 37px 41px; padding: 0px; border: none; width: 753px; }

#page_10 #id10_1 { margin: 0px 0px 0px 7px; padding: 0px; border: none; width: 746px; overflow: hidden; }

#page_10 #id10_2 { margin: 93px 0px 0px 7px; padding: 0px; border: none; width: 746px; overflow: hidden; }

#page_10 #id10_2 #id10_2_1 { float: left; margin: 0px; padding: 0px; border: none; width: 435px; overflow: hidden; }

#page_10 #id10_2 #id10_2_2 { float: left; margin: 6px 0px 0px; padding: 0px; border: none; width: 311px; overflow: hidden; }

#page_10 #id10_3 { margin: 74px 0px 0px 7px; padding: 0px; border: none; width: 746px; overflow: hidden; }

#page_10 #id10_3 #id10_3_1 { float: left; margin: 6px 0px 0px; padding: 0px; border: none; width: 359px; overflow: hidden; }

#page_10 #id10_3 #id10_3_2 { float: left; margin: 0px 0px 0px 45px; padding: 0px; border: none; width: 342px; overflow: hidden; }

#page_10 #id10_4 { margin: 139px 0px 0px 29px; padding: 0px; border: none; width: 724px; overflow: hidden; }

#page_10 #p10dimg1 { position: absolute; top: 77px; left: 0px; z-index: -1; width: 753px; height: 924px; }

#page_10 #p10dimg1 #p10img1 { width: 753px; height: 924px; }

#page_11 { position: relative; overflow: hidden; margin: 74px 0px 53px 48px; padding: 0px; border: none; width: 746px; }

#page_11 #p11dimg1 { position: absolute; top: 332px; left: 0px; z-index: -1; width: 704px; height: 635px; }

#page_11 #p11dimg1 #p11img1 { width: 704px; height: 635px; }

.dclr { clear: both; float: none; height: 1px; margin: 0px; padding: 0px; overflow: hidden; }

.ft0 { font: italic 20px/45px Arial; }

.ft1 { font: italic bold 24px/28px Arial; color: rgb(62, 136, 184); }

.ft2 { font: 12px/15px Arial; }

.ft3 { font: 11px/14px Arial; }

.ft4 { font: bold 31px/36px Arial; color: rgb(62, 136, 184); }

.ft5 { font: 19px/31px Arial; }

.ft6 { font: bold 32px/37px Arial; color: rgb(62, 136, 184); }

.ft7 { font: 24px/27px Arial; }

.ft8 { font: 16px/18px Arial; }

.ft9 { font: bold 43px/51px Arial; }

.ft10 { font: 12px/17px Arial; }

.ft11 { font: 13px/17px Arial; }

.ft12 { font: italic bold 16px/18px Arial; }

.ft13 { font: 13px/16px Arial; }

.ft14 { font: 13px/17px Arial; margin-left: 18px; }

.ft15 { font: 13px/16px Arial; margin-left: 18px; }

.ft16 { font: 12px/17px Arial; margin-left: 18px; }

.ft17 { font: 1px/1px Arial; }

.ft18 { font: bold 40px/46px Arial; }

.ft19 { font: italic bold 32px/36px Arial; color: rgb(62, 136, 184); }

.ft20 { font: italic 24px/28px Arial; }

.ft21 { font: bold 24px/29px Arial; }

.ft22 { font: italic bold 15px/17px Arial; }

.ft23 { font: 13px/16px Arial; margin-left: 6px; }

.ft24 { font: 13px/17px Arial; margin-left: 7px; }

.ft25 { font: 13px/16px Arial; margin-left: 5px; }

.ft26 { font: bold 43px/65px Arial; }

.ft27 { font: italic bold 27px/32px Arial; color: rgb(62, 136, 184); }

.ft28 { font: 11px/17px Arial; }

.ft29 { font: 11px/18px Arial; }

.ft30 { font: bold 20px/24px Arial; }

.ft31 { font: italic 13px/16px Arial; }

.ft32 { font: 11px/16px Arial; }

.ft33 { font: 12px/16px Arial; }

.ft34 { font: italic 17px/31px Arial; }

.ft35 { font: bold 24px/36px Arial; }

.ft36 { font: bold 32px/37px Arial; }

.ft37 { font: 9px/16px Arial; margin-left: 7px; }

.ft38 { font: 9px/16px Arial; }

.ft39 { font: 11px/15px Arial; }

.ft40 { font: italic 19px/31px Arial; }

.ft41 { font: italic bold 32px/36px Arial; color: rgb(62, 136, 184); position: relative; bottom: -8px; }

.ft42 { font: 10px/16px Arial; color: rgb(255, 255, 255); }

.ft43 { font: italic bold 10px/14px Arial; color: rgb(255, 255, 255); }

.ft44 { font: italic bold 11px/13px Arial; color: rgb(255, 255, 255); }

.ft45 { font: 11px/16px Arial; color: rgb(255, 255, 255); }

.ft46 { font: italic bold 11px/15px Arial; color: rgb(255, 255, 255); }

.ft47 { font: italic bold 13px/16px Arial; color: rgb(62, 136, 184); }

.ft48 { font: bold 24px/35px Arial; }

.ft49 { font: bold 24px/29px Arial; color: rgb(255, 255, 255); }

.ft50 { font: bold 20px/26px Arial; }

.ft51 { font: italic bold 11px/15px Arial; color: rgb(255, 255, 255); margin-left: 4px; }

.ft52 { font: italic bold 9px/14px Arial; color: rgb(255, 255, 255); margin-left: 4px; }

.ft53 { font: 9px/15px Arial; color: rgb(255, 255, 255); }

.ft54 { font: italic bold 9px/15px Arial; color: rgb(255, 255, 255); margin-left: 4px; }

.ft55 { font: 9px/16px Arial; color: rgb(255, 255, 255); }

.ft56 { font: italic bold 11px/13px Arial; color: rgb(255, 255, 255); margin-left: 2px; }

.ft57 { font: italic bold 12px/17px Arial; color: rgb(62, 136, 184); }

.ft58 { font: bold 57px/66px Arial; color: rgb(62, 136, 184); }

.ft59 { font: 20px/25px Arial; }

.ft60 { font: italic 15px/17px Arial; }

.ft61 { font: italic bold 10px/11px Arial; }

.ft62 { font: 12px/14px Arial; }

.ft63 { font: 1px/14px Arial; }

.p0 { text-align: left; margin-top: 0px; margin-bottom: 0px; }

.p1 { text-align: left; margin-top: 0px; margin-bottom: 0px; white-space: nowrap; }

.p2 { text-align: left; padding-left: 154px; margin-top: 0px; margin-bottom: 0px; }

.p3 { text-align: left; padding-left: 249px; margin-top: 12px; margin-bottom: 0px; }

.p4 { text-align: center; padding-left: 78px; padding-right: 124px; margin-top: 38px; margin-bottom: 0px; }

.p5 { text-align: left; padding-left: 80px; margin-top: 369px; margin-bottom: 0px; }

.p6 { text-align: left; margin-top: 93px; margin-bottom: 0px; }

.p7 { text-align: left; padding-left: 184px; margin-top: 0px; margin-bottom: 0px; white-space: nowrap; }

.p8 { text-align: left; padding-left: 24px; padding-right: 50px; margin-top: 0px; margin-bottom: 0px; text-indent: -24px; }

.p9 { text-align: left; padding-left: 24px; padding-right: 15px; margin-top: 0px; margin-bottom: 0px; text-indent: -24px; }

.p10 { text-align: left; padding-right: 2px; margin-top: 0px; margin-bottom: 0px; }

.p11 { text-align: left; margin-top: 51px; margin-bottom: 0px; }

.p12 { text-align: left; margin-top: 79px; margin-bottom: 0px; }

.p13 { text-align: left; padding-left: 1px; margin-top: 0px; margin-bottom: 0px; }

.p14 { text-align: left; padding-left: 1px; margin-top: 11px; margin-bottom: 0px; }

.p15 { text-align: left; padding-left: 1px; margin-top: 33px; margin-bottom: 0px; }

.p16 { text-align: justify; padding-left: 16px; padding-right: 99px; margin-top: 5px; margin-bottom: 0px; }

.p17 { text-align: left; padding-left: 1px; margin-top: 28px; margin-bottom: 0px; }

.p18 { text-align: left; padding-left: 16px; padding-right: 88px; margin-top: 5px; margin-bottom: 0px; }

.p19 { text-align: left; padding-left: 1px; margin-top: 31px; margin-bottom: 0px; }

.p20 { text-align: left; padding-left: 16px; padding-right: 92px; margin-top: 5px; margin-bottom: 0px; }

.p21 { text-align: left; margin-top: 34px; margin-bottom: 0px; }

.p22 { text-align: left; padding-right: 54px; margin-top: 33px; margin-bottom: 0px; }

.p23 { text-align: left; padding-left: 14px; padding-right: 34px; margin-top: 2px; margin-bottom: 0px; text-indent: -14px; }

.p24 { text-align: left; margin-top: 2px; margin-bottom: 0px; }

.p25 { text-align: left; padding-left: 13px; padding-right: 11px; margin-top: 0px; margin-bottom: 0px; text-indent: -13px; }

.p26 { text-align: left; padding-left: 13px; margin-top: 0px; margin-bottom: 0px; text-indent: -13px; }

.p27 { text-align: left; padding-right: 20px; margin-top: 16px; margin-bottom: 0px; }

.p28 { text-align: left; margin-top: 4px; margin-bottom: 0px; }

.p29 { text-align: left; margin-top: 5px; margin-bottom: 0px; }

.p30 { text-align: left; padding-right: 519px; margin-top: 16px; margin-bottom: 0px; }

.p31 { text-align: left; margin-top: 7px; margin-bottom: 0px; }

.p32 { text-align: left; padding-right: 248px; margin-top: 16px; margin-bottom: 0px; }

.p33 { text-align: left; margin-top: 278px; margin-bottom: 0px; }

.p34 { text-align: left; padding-right: 250px; margin-top: 16px; margin-bottom: 0px; }

.p35 { text-align: left; padding-right: 46px; margin-top: 16px; margin-bottom: 0px; }

.p36 { text-align: left; margin-top: 374px; margin-bottom: 0px; }

.p37 { text-align: left; padding-right: 47px; margin-top: 16px; margin-bottom: 0px; }

.p38 { text-align: left; padding-right: 103px; margin-top: 0px; margin-bottom: 0px; }

.p39 { text-align: left; margin-top: 379px; margin-bottom: 0px; }

.p40 { text-align: left; padding-right: 97px; margin-top: 0px; margin-bottom: 0px; }

.p41 { text-align: left; padding-right: 27px; margin-top: 6px; margin-bottom: 0px; }

.p42 { text-align: left; margin-top: 162px; margin-bottom: 0px; }

.p43 { text-align: left; padding-right: 19px; margin-top: 17px; margin-bottom: 0px; }

.p44 { text-align: left; padding-right: 32px; margin-top: 0px; margin-bottom: 0px; }

.p45 { text-align: left; padding-right: 18px; margin-top: 6px; margin-bottom: 0px; }

.p46 { text-align: left; margin-top: 139px; margin-bottom: 0px; }

.p47 { text-align: left; padding-right: 17px; margin-top: 17px; margin-bottom: 0px; }

.p48 { text-align: left; padding-right: 52px; margin-top: 49px; margin-bottom: 0px; }

.p49 { text-align: left; margin-top: 178px; margin-bottom: 0px; }

.p50 { text-align: left; padding-right: 45px; margin-top: 17px; margin-bottom: 0px; }

.p51 { text-align: left; padding-right: 70px; margin-top: 18px; margin-bottom: 0px; }

.p52 { text-align: left; padding-right: 33px; margin-top: 0px; margin-bottom: 0px; }

.p53 { text-align: left; padding-left: 22px; margin-top: 9px; margin-bottom: 0px; }

.p54 { text-align: left; padding-right: 72px; margin-top: 2px; margin-bottom: 0px; }

.p55 { text-align: justify; padding-right: 73px; margin-top: 40px; margin-bottom: 0px; }

.p56 { text-align: left; margin-top: 21px; margin-bottom: 0px; }

.p57 { text-align: left; padding-left: 495px; padding-right: 75px; margin-top: 20px; margin-bottom: 0px; text-indent: -8px; }

.p58 { text-align: left; padding-left: 486px; margin-top: 0px; margin-bottom: 0px; }

.p59 { text-align: left; padding-left: 486px; padding-right: 63px; margin-top: 3px; margin-bottom: 0px; }

.p60 { text-align: left; padding-left: 486px; padding-right: 56px; margin-top: 0px; margin-bottom: 0px; }

.p61 { text-align: left; padding-left: 486px; margin-top: 1px; margin-bottom: 0px; }

.p62 { text-align: left; padding-left: 1px; padding-right: 44px; margin-top: 6px; margin-bottom: 0px; }

.p63 { text-align: left; padding-right: 136px; margin-top: 49px; margin-bottom: 0px; }

.p64 { text-align: left; padding-left: 4px; margin-top: 0px; margin-bottom: 0px; }

.p65 { text-align: left; padding-right: 69px; margin-top: 40px; margin-bottom: 0px; }

.p66 { text-align: left; padding-left: 41px; margin-top: 44px; margin-bottom: 0px; }

.p67 { text-align: left; padding-left: 72px; padding-right: 624px; margin-top: 3px; margin-bottom: 0px; text-indent: -40px; }

.p68 { text-align: left; padding-left: 48px; padding-right: 619px; margin-top: 1px; margin-bottom: 0px; text-indent: -15px; }

.p69 { text-align: left; padding-left: 20px; padding-right: 580px; margin-top: 22px; margin-bottom: 0px; text-indent: -9px; }

.p70 { text-align: left; padding-left: 20px; padding-right: 578px; margin-top: 0px; margin-bottom: 0px; text-indent: -9px; }

.p71 { text-align: left; padding-left: 20px; padding-right: 562px; margin-top: 0px; margin-bottom: 0px; text-indent: -9px; }

.p72 { text-align: justify; padding-left: 20px; padding-right: 572px; margin-top: 1px; margin-bottom: 0px; text-indent: -9px; }

.p73 { text-align: left; padding-left: 11px; margin-top: 1px; margin-bottom: 0px; }

.p74 { text-align: left; padding-left: 19px; margin-top: 3px; margin-bottom: 0px; }

.p75 { text-align: left; padding-right: 47px; margin-top: 6px; margin-bottom: 0px; }

.p76 { text-align: left; padding-right: 70px; margin-top: 50px; margin-bottom: 0px; }

.p77 { text-align: left; padding-right: 59px; margin-top: 7px; margin-bottom: 0px; }

.p78 { text-align: left; padding-left: 67px; margin-top: 0px; margin-bottom: 0px; }

.p79 { text-align: left; padding-left: 186px; margin-top: 18px; margin-bottom: 0px; }

.p80 { text-align: center; padding-left: 143px; padding-right: 191px; margin-top: 50px; margin-bottom: 0px; }

.p81 { text-align: left; padding-left: 277px; margin-top: 345px; margin-bottom: 0px; }

.p82 { text-align: left; padding-left: 231px; margin-top: 28px; margin-bottom: 0px; }

.p83 { text-align: left; padding-left: 192px; margin-top: 14px; margin-bottom: 0px; }

.p84 { text-align: left; padding-left: 1px; margin-top: 0px; margin-bottom: 0px; white-space: nowrap; }

.td0 { padding: 0px; margin: 0px; width: 10px; vertical-align: bottom; }

.td1 { padding: 0px; margin: 0px; width: 80px; vertical-align: bottom; }

.td2 { padding: 0px; margin: 0px; width: 80px; vertical-align: bottom; }

.td3 { padding: 0px; margin: 0px; width: 80px; vertical-align: bottom; }

.td4 { padding: 0px; margin: 0px; width: 80px; vertical-align: bottom; }

.td5 { padding: 0px; margin: 0px; width: 58px; vertical-align: bottom; }

.td6 { padding: 0px; margin: 0px; width: 488px; vertical-align: bottom; }

.td7 { padding: 0px; margin: 0px; width: 196px; vertical-align: bottom; }

.td8 { padding: 0px; margin: 0px; width: 24px; vertical-align: bottom; }

.td9 { padding: 0px; margin: 0px; width: 214px; vertical-align: bottom; }

.td10 { padding: 0px; margin: 0px; width: 238px; vertical-align: bottom; }

.td11 { padding: 0px; margin: 0px; width: 239px; vertical-align: bottom; }

.td12 { padding: 0px; margin: 0px; width: 110px; vertical-align: bottom; }

.td13 { padding: 0px; margin: 0px; width: 567px; vertical-align: bottom; }

.tr0 { height: 12px; }

.tr1 { height: 26px; }

.tr2 { height: 32px; }

.tr3 { height: 20px; }

.tr4 { height: 16px; }

.tr5 { height: 18px; }

.tr6 { height: 23px; }

.tr7 { height: 41px; }

.tr8 { height: 35px; }

.tr9 { height: 19px; }

.tr10 { height: 14px; }

.tr11 { height: 15px; }

.t0 { width: 615px; font: 12px Arial; }

.t1 { width: 684px; margin-left: 2px; margin-top: 10px; font: 16px Arial; }

.t2 { width: 458px; font: 13px Arial; }

.t3 { width: 587px; margin-top: 282px; font: italic bold 16px Arial; }

.t4 { width: 434px; font: bold 24px Arial; }

.t5 { width: 691px; margin-top: 145px; font: 12px Arial; }